.swiper-slide {
  height: 200px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.row.icon-menu {
  margin: 20px 50px;
  text-align: center;
}
.row.icon-menu .fa-box {
  width: 50px;
  height: 50px;
  line-height: 60px;
  display: inline-block;
  background-color: #00b200;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #00a000;
  overflow: hidden;
}
.row.icon-menu .fa-box .fa {
  color: #fff;
  font-size: 30px;
}
.row.icon-menu a {
  color: #333;
}
.row.icon-menu p {
  margin: 0;
}
.navbar {
  background-color: #363b3e;
  color: #fff;
}
.navbar .navbar-inner .icon-only .fa {
  font-size: 36px;
  padding: 0 .3em;
  color: #fff;
}