.scanner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9500;
  background-color: rgba(0,0,0,.5);
}
.scanner .scan-main {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
.scanner .scan-main a.close {
  position: absolute;
  top: -30px;
  right: -30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  color: #000;
  font-size: 24px;
  background-color: #fff;
  cursor: pointer;
}
.scanner .scan-main .scan-box {
  position: relative;
  border: 3px solid #64e101;
  height: 300px;
  background-color: #000;
}
.scanner .scan-main .scan-box .scan-text {
  line-height: 300px;
  text-align: center;
  color: #eee;
}
.scanner .scan-main .scan-box .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #64e101;
  animation: ScannerLine 1s infinite; 
  -webkit-animation: ScannerLine 2s infinite ; 
}
@keyframes  ScannerLine{
  from {
    top: 0px;
  }
  to {
    top: 300px;
  }
}
-webkit-@keyframes  ScannerLine{
  from {
    top: 0px;
  }
  to {
    top: 300px;
  }
}
.scanner .scan-main input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  font-size: 16px;
}
.vdialog {
  z-index: 9500;
}

@media print {
  .printer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
  }
}